.font {
    -fx-font-family: "fangsong";
}

    .lablebtn{
    -fx-border-color: #000000;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-alignment: Center;
}
.lablebtn:hover{
    -fx-background-color: #f6f2f2;
    -fx-text-fill: #000000
}
.btn {
    -fx-background-color: #ce6a48;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-font-size:18;
    -fx-cursor: hand;
    -fx-font-weight: 600;
    -fx-text-fill: #221d1d;

}

.btn:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #550a0a;
    -fx-text-fill: #eb5827;
}
.text-prompt{

    -fx-font-size: 14;
    -fx-text-fill: #eb5827;
    -fx-background-color: #ffffff;
}
.productPane {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #474949;
    -fx-background-color: #FEEDF4;
}